<script type="text/javascript" src="/static/js/admin_left1.js"></script>
<div>
<blockquote><h4 class="banner">数据管理</h4></blockquote>
        <ul class="nav nav-pills nav-stacked admin-left">
            <li><a href="/admin/infor"><i class="icon-edit"></i>球队信息</a></li>
            <li><a href="/admin/schedule"><i class="icon-edit"></i>赛程</a></li>
            <li><a href="/admin/member"><i class="icon-edit"></i>球员管理</a></li>
            <li><a href="/admin/score"><i class="icon-edit"></i>积分详情表</a></li>
            <li><a href="/admin/team_log"><i class="icon-edit"></i>日志话题管理</a></li>
            <li><a href="/admin/picture"><i class="icon-edit"></i>球队照片</a></li>
        </ul>
       
</div>
